*
!.gitignore
!README.md
!composer.json
!composer.lock
!app/
!app/**
app/.htaccess
app/autoload.php
app/bootstrap.php
app/functions.php
app/etc/
!tools/
!tools/**
!eb/
!eb/**
!.ebextensions/
!.ebextensions/**
!Dockerrun.aws.json
!proxy/
!proxy/**
!php-app/
!php-app/**