commands:
    create_post_dir:
        command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
        ignoreErrors: true
files:
    /etc/nginx/.htpasswd:
        mode: "000755"
        owner: root
        group: root
        content: |
            dev:$apr1$OYV7ov6e$jJj/Wf9LkGPqzpLnH8xZX.
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_build_app.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            sudo curl -sS https://getcomposer.org/installer | sudo php
            sudo mv composer.phar /var/app/current
            cd /var/app/current
            sudo mkdir /root/.composer
            mv auth.json /root/.composer/auth.json
            sudo cp /etc/nginx/.htpasswd /var/app/current/proxy/conf.d/.htpasswd
            export COMPOSER_HOME=/root
            sudo rm -rf /var/app/current/pub
            sed -i 's/index.php$is_args$args;/index.php$is_args$args;\n     auth_basic "Restricted";\n     auth_basic_user_file \/etc\/nginx\/conf.d\/.htpasswd;\n/' /var/app/current/proxy/conf.d/default.conf
            sudo php composer.phar install --ignore-platform-reqs
